%h3 Dados dos Produtos e Serviços
%table.table.table-condensed.table-striped.inner
  %col(width='50')/
  %col/
  %col(width='70')/
  %col(width='70')/
  %col(width='90')/
  %col(width='70')/
  %tr
    %th.c Num.
    %th Descrição
    %th.c Qtd.
    %th.c Un. Coml.
    %th.c Valor
    %th
  - xml.css('NFe infNFe det').each do |det|
    - if (prod = det.css('prod')).size > 0
      %tr
        %td.c= det.attr('nItem')
        %td= prod.css('xProd').text
        %td.c= number_with_delimiter_br prod.css('qCom').text
        %td.c= prod.css('uCom').text
        %td.c= number_to_currency_br prod.css('vProd').text
        %td.acoes
          %a.modal-open{:href => "#det-#{det.attr('nItem')}", :"data-toggle" => 'modal'}
            %i.icon-zoom-in
            detalhes
- xml.css('NFe infNFe det').each do |det|
  - if (prod = det.css('prod')).size > 0
    = render 'modal_nfe_produto', {:xml => xml, :prod => prod, :det => det}
